<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Executor">
  <test thread-count="5" name="Test">
    <classes>
       <class name="Executor.testExecutor"/>
       <class name="SmokeTesting.smokeTest">
       		<methods>
                  <include name="loginWithGmail"/>
                  <include name="loginFromPopUp"/>
            </methods>
       </class>
       <class name="RegressionTesting.hotelScenario"/>
       <class name="RegressionTesting.cabScenario"/>
       <class name="RegressionTesting.giftCardScenario"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Executor -->
